ipykernel==6.29.3
python-dotenv==1.0.1
langchain==0.1.11
langchain-community==0.0.27
langchain-core==0.1.30
langchain-text-splitters==0.0.1
unstructured==0.12.6
unstructured-client==0.18.0
unstructured-inference==0.7.23
unstructured.pytesseract==0.3.12
ragas==0.1.6
chromadb==0.4.24
pypdf==4.2.0